<!-- Link Gitalk 的支持文件  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 
<div id="gitalk-container"></div>     
<script type="text/javascript">
    var gitalk = new Gitalk({

    // gitalk的主要参数
        clientID: '8173d014850f30fd3077',
        clientSecret: 'd7521666b1c8176821a4c36321708dce9aa55583',
        repo: 'fulincao.github.io',
        owner: 'fulincao',
        admin: ['fulincao'],
        //id: md5(location.pathname),
        id: location.pathname
    });
    gitalk.render('gitalk-container');
</script> 
<!-- Gitalk end -->